.main-header {
    .gtp-logo {
        img {
            height: 127px;
            width: 127px;
            position: absolute;
            top: 10px;
            left: 155px;
            cursor: pointer;
        }
    }
}